body{
  font-size: 10px;
}
.wrapper{
  width: 50%;
  margin: 0 auto;
}
.acordion__title{
  font-size: 3rem;
}
.acordion__item{
  border-top: 1px solid #bec0be;
  font-size: 1.4rem;
  padding: 1rem;
  cursor: pointer;
}

.acordion__container{
  color: #4245f1;
  cursor: pointer;
}

.acordion__container:hover{
  color: #000;
}

.acordion__item-image{
  width: 25rem;
  height: 25rem;
  margin: 2rem auto;
  display: none;
}

.acordion_input{
  appearance: none;
  position: absolute;
  width: 0;
  height: 0;
}
.acordion_item-title{
  display: block;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.acordion_input:checked ~ .acordion__item-image{
  display: block;
}

.title_icon{
  display: inline-block;
  background-image: url(image/icons8-plus-math-64.png);
  background-size: cover;
  width: 20px;
  height: 20px;
  display: none;
}

.acordion__container:hover  .title_icon{
  display: block;
}
.acordion_input:checked ~ .acordion_item-title>.title_icon{
  background-image: url(image/icons8-close-50.png);
 }